/*Header*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 103%;
    position: fixed;
    border-bottom-style: solid;
    border-width: 1px;
}
.logo{
    display: flex;
    align-items: center;
    padding-left: 6%;
}
.logo img{
    width: 75%;
    height: auto;

}
.navbar{
    align-items: center;
    padding-left: 40px;
}
.navbar a{
    padding-right: 5px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.navbar li{
    padding-left: 30px;
}
.navbar a:hover{
    color: green;
}
.user-cart{
    align-items: center;
}
.user-cart a{
    margin-left: 20px;
    padding-left: 20px;
}
.user-cart img{
    height: 25px;
}
/*Burger*/
.nav-item a{
    color: white;
}
.navbar-toggler-icon{
    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/*Footer*/
.rs{
    align-items: center;
}
.rs a img{
    height: 20px;
}
.footer {
    text-align: center;
    padding: 30px;
    background-color: black;
    color: white;
}
.footer p {
    font-size: 14px;
    margin: 0;
}
/**/
body {
    background-color:grey;
}
.container {
    padding-top: 150px;
}
.cart-item {
    border-bottom: 1px solid #dee2e6;
    padding: 15px 0;
    display: flex;
    align-items: center;
}
.cart-item img {
    width: 200px;
    max-height: 200px;
    margin-right: 15px;
}
.cart-item-price, .cart-item-quantity, .cart-item-total {
    text-align: center;
    flex: 0 0 100px;
}
.cart-item:last-child {
    border-bottom: none;
}
.cart-total {
    padding: 15px 0;
    text-align: center;
}
.cart-total .btn {
    width: 100%;
}