/*Body*/
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
/*Container*/
.container {
    text-align: center;
}
/*Logo*/
.container img {
    width: 50%;
}
/*Titulo*/
.container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
/*Form*/
.form-group {
    margin-bottom: 15px;
}
.form-group input {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/*Botones*/
.btn {
    width: 170px;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    margin: 10px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.btn-green {
    background-color: green;
    color: white;
}
.btn-grey {
    background-color: grey;
    color: white;
}
.back{
    color: lightgreen;
    text-decoration: none;
}
.p-back{
    padding-top: 10px;
}