body {
    background-color: #f8f9fa;
}
.sidebar {
    height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;
}
.content {
    padding: 20px;
}
.card-custom {
    margin-bottom: 20px;
}
/*Burger*/
#body-burger{
    background-color: #f8f9fa;
    text-align: center;
}

.offcanvas-header{
    background-color: #f8f9fa;
}

.offcanvas-header .logo{
    text-align: center;
}

#contenedor-todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #f8f9fa;    
    width: 100%;
    position: fixed;
    border-bottom-style: solid;
    border-width: 1px;
    height: 85px;

}

.header{
    height: 75;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;    
    width: 103%;
    position: fixed;
    border-bottom-style: solid;
    border-width: 1px;
}  
.logo{
    display: flex;
    align-items: center;
    text-align: right;
}
.logo img{
    width: 55%;
    height: auto;
}

.navbar{
    align-items: center;
    padding-left: 40px;
    height: 13%;
}

.btn a{
    text-decoration: none;
    color: white;
}
.navbar a{
    padding-right: 5px;
    color: black;
    text-decoration: none;
    font-size: 18px;
}
.navbar li{
    padding: 10px;
}
.navbar .nav-link:hover{
    background-color: limegreen;
}
.nav-link{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.forms{
    margin-top: 100px;
}