body {
    background-color: #f8f9fa;
}
.sidebar {
    height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;
}
img{
    width: 150px;
}
.sidebar a {
    color: black;
    display: block;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.sidebar a:hover {
    background-color: limegreen;
}
.navbar{
    padding-top: 10px;
    padding-right: 10px;
    margin-bottom: 100px;
}
.container-fluid{
    width: 100%;
}
input{
    margin: 20px;
}
.form-select{
    margin: 20px;
    width: 150px;
}
button{
    margin: 20px;
}
.btn-primary{
    padding-top: 0;
}
.table{
    width: 100%;
}