/*Body*/
body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}


.outer-container {
    border: 2px solid rgb(0, 0, 0); 
    width: 30%;
    height: 80%;
    box-shadow: 1 5px;
    padding: 10px;           
    border-radius: 15px;
    transition: all 0.3s ease;
    box-shadow: none;
}
.outer-container:hover{
    border: 2px solid green;    
    box-shadow: 0 0 15px green;
}


.container {
    text-align: center;
}

.container img {
    width: 42%;
    margin-bottom: 20px;
}

.container input[type="text"],
.container input[type="password"] {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
}

/*Botones*/
.container button {
    cursor: pointer;
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: green;
    box-shadow: 1 2px;
    color: white;
    font-size: 16px;
    border-radius: 100px;
}

.container .create-account {
    color: lightgrey;
    text-decoration: none;
}

.back {
    color: lightgreen;
    text-decoration: none;
}

.p-back {
    padding-top: 10px;
}
