/*Body*/
body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.outer-container {
    border: 2px solid rgb(0, 0, 0); 
    width: 80%;
    max-width: 400px; 
    padding: 20px;
    border-radius: 15px;
    transition: all 0.3s ease;
    box-shadow: none;
    background-color: #000000; 
}

.outer-container:hover {
    border: 2px solid green;    
    box-shadow: 0 0 15px green;
}

.container {
    text-align: center;
}

.container img {
    width: 50%;
    margin-bottom: 20px;
}

.container input[type="text"],
.container input[type="password"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
}

.container button {
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: green;
    box-shadow: 1 2px;
    color: white;
    font-size: 16px;
    border-radius: 100px;
    transition: background-color 0.3s ease;
}

.container button:hover {
    background-color: #2ecc71;
}

.container .create-account, .back {
    color: lightgrey;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

.p-back {
    padding-top: 10px;
}

@media (max-width: 600px) {
    .outer-container {
        width: 70%;
        padding: 15px;
    }

    .container img {
        width: 60%;
    }

    .container button {
        font-size: 14px;
        padding: 12px;
    }

    .container input[type="text"],
    .container input[type="password"] {
        font-size: 14px;
        padding: 12px;
    }
}
