/*Body*/
body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
/*Contenedor*/
.container {
    text-align: center;
}
/*Logo*/
.container img {
    width: 50%;
    margin-bottom: 20px;
}
/*Inputs*/
.container input[type="text"],
.container input[type="password"] {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/*Botones*/
.container button {
    cursor: pointer;
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
    font-size: 16px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.container .create-account {
    color: lightgrey;
    text-decoration: none;
}